.ujs-dialog-modal {
    position: fixed !important;
}

.ujs-dialog-x {
    position: absolute;
    top: -14px;
    right: -13px;
    cursor: pointer;
    background-image: url('/images/jqr-helpers/close.png');
    width: 30px;
    height: 30px;
}

.ui-dialog.no-title .ui-dialog-titlebar {
    display: none;
}

.ujs-dialog-hidden {
    display: none;
}

form.ujs-ajax {
    display: inline;
}

#ujs-dialog-throbber {
    background-image: url('/images/jqr-helpers/throbber_large.gif');
    position: fixed;
    top: 48%;
    left: 48%;
    z-index: 200;
    width: 48px;
    height: 48px;
}

.ujs-dialog-title-hidden {
    display: none;
}

